# Начало работы с датасетом

In [2]:
import pandas as pd

bikes = pd.read_csv('BikeData.csv')
print(bikes.shape)
bikes.tail()

(8760, 12)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [4]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [6]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [10]:
bikes.loc[100:120] #ищет конкретные наименования в колонке с индексами

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
100,05/12/2017,4,-7.2,34,3.0,0.0,0.0,Winter,No Holiday,Yes,18,22
101,05/12/2017,5,-7.4,33,2.6,0.0,0.0,Winter,No Holiday,Yes,55,37
102,05/12/2017,6,-7.4,34,3.2,0.0,0.0,Winter,No Holiday,Yes,41,133
103,05/12/2017,7,-7.5,33,2.2,0.0,0.0,Winter,No Holiday,Yes,152,342
104,05/12/2017,8,-8.1,36,1.6,0.0,0.0,Winter,No Holiday,Yes,144,47
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
106,05/12/2017,10,-5.5,26,2.8,0.0,0.0,Winter,No Holiday,Yes,49,13
107,05/12/2017,11,-3.9,25,0.0,0.0,0.0,Winter,No Holiday,Yes,241,174
108,05/12/2017,12,-2.3,25,0.0,0.0,0.0,Winter,No Holiday,Yes,103,24
109,05/12/2017,13,-1.6,27,0.0,0.0,0.0,Winter,No Holiday,Yes,220,9
110,05/12/2017,14,-1.1,28,0.0,0.0,0.0,Winter,No Holiday,Yes,50,316
111,05/12/2017,15,-0.7,28,0.0,0.0,0.0,Winter,No Holiday,Yes,111,270
112,05/12/2017,16,-0.5,30,0.0,0.0,0.0,Winter,No Holiday,Yes,228,227
113,05/12/2017,17,-1.6,35,0.0,0.0,0.0,Winter,No Holiday,Yes,188,81
114,05/12/2017,18,-2.6,40,0.0,0.0,0.0,Winter,No Holiday,Yes,261,717
115,05/12/2017,19,-3.2,45,0.0,0.0,0.0,Winter,No Holiday,Yes,10,150
116,05/12/2017,20,-3.5,46,0.0,0.0,0.0,Winter,No Holiday,Yes,219,298
117,05/12/2017,21,-3.7,47,0.0,0.0,0.0,Winter,No Holiday,Yes,196,114
118,05/12/2017,22,-2.8,49,0.0,0.0,0.0,Winter,No Holiday,Yes,229,128
119,05/12/2017,23,-2.5,59,0.0,0.0,0.0,Winter,No Holiday,Yes,10,107
120,06/12/2017,0,-2.8,77,0.0,0.1,0.1,Winter,No Holiday,Yes,59,139

In [9]:
bikes.iloc[100:120] #по номеру индекса возвращает индексы

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
100,05/12/2017,4,-7.2,34,3.0,0.0,0.0,Winter,No Holiday,Yes,18,22
101,05/12/2017,5,-7.4,33,2.6,0.0,0.0,Winter,No Holiday,Yes,55,37
102,05/12/2017,6,-7.4,34,3.2,0.0,0.0,Winter,No Holiday,Yes,41,133
103,05/12/2017,7,-7.5,33,2.2,0.0,0.0,Winter,No Holiday,Yes,152,342
104,05/12/2017,8,-8.1,36,1.6,0.0,0.0,Winter,No Holiday,Yes,144,47
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
106,05/12/2017,10,-5.5,26,2.8,0.0,0.0,Winter,No Holiday,Yes,49,13
107,05/12/2017,11,-3.9,25,0.0,0.0,0.0,Winter,No Holiday,Yes,241,174
108,05/12/2017,12,-2.3,25,0.0,0.0,0.0,Winter,No Holiday,Yes,103,24
109,05/12/2017,13,-1.6,27,0.0,0.0,0.0,Winter,No Holiday,Yes,220,9
110,05/12/2017,14,-1.1,28,0.0,0.0,0.0,Winter,No Holiday,Yes,50,316
111,05/12/2017,15,-0.7,28,0.0,0.0,0.0,Winter,No Holiday,Yes,111,270
112,05/12/2017,16,-0.5,30,0.0,0.0,0.0,Winter,No Holiday,Yes,228,227
113,05/12/2017,17,-1.6,35,0.0,0.0,0.0,Winter,No Holiday,Yes,188,81
114,05/12/2017,18,-2.6,40,0.0,0.0,0.0,Winter,No Holiday,Yes,261,717
115,05/12/2017,19,-3.2,45,0.0,0.0,0.0,Winter,No Holiday,Yes,10,150
116,05/12/2017,20,-3.5,46,0.0,0.0,0.0,Winter,No Holiday,Yes,219,298
117,05/12/2017,21,-3.7,47,0.0,0.0,0.0,Winter,No Holiday,Yes,196,114
118,05/12/2017,22,-2.8,49,0.0,0.0,0.0,Winter,No Holiday,Yes,229,128
119,05/12/2017,23,-2.5,59,0.0,0.0,0.0,Winter,No Holiday,Yes,10,107

In [11]:
bikes.columns

Index(['Date', 'Hour', 'Temperature', 'Humidity', 'Wind speed', 'Rainfall',
       'Snowfall', 'Seasons', 'Holiday', 'Functioning Day', 'Partner 1',
       'Partner 2'],
      dtype='object')

In [5]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [6]:
bikes['Hour']

0        0
1        1
2        2
3        3
4        4
        ..
8755    19
8756    20
8757    21
8758    22
8759    23
Name: Hour, Length: 8760, dtype: int64

In [7]:
bikes['Hour'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [8]:
bikes['Seasons'].unique()

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

In [9]:
bikes[['Partner 1', 'Partner 2']]

      Partner 1  Partner 2
0           207         50
1           139         80
2            22        140
3            43        105
4            59         38
...         ...        ...
8755        467        177
8756        296         63
8757        571        665
8758        171        457
8759        442        401

[8760 rows x 2 columns]

In [10]:
bikes.iloc[124]

Date               06/12/2017
Hour                        4
Temperature              -3.4
Humidity                   75
Wind speed                0.0
Rainfall                  0.0
Snowfall                  0.4
Seasons                Winter
Holiday            No Holiday
Functioning Day           Yes
Partner 1                  36
Partner 2                   4
Name: 124, dtype: object

In [11]:
bikes.iloc[124]['Holiday']

'No Holiday'

In [12]:
bikes['Holiday'] == 'Holiday'

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Name: Holiday, Length: 8760, dtype: bool

In [14]:
bikes[bikes['Holiday'] == 'Holiday'].shape[0] / 24

18.0

In [16]:
bikes[bikes['Holiday'] == 'Holiday'].shape

(432, 12)

In [18]:
bikes[(bikes['Holiday'] == 'Holiday') & 
      (bikes['Temperature'] >= 15)].shape

(179, 12)

In [19]:
bikes[(bikes['Holiday'] == 'Holiday') | 
      (bikes['Temperature'] >= 15)].shape

(4310, 12)

In [15]:
bikes[~((bikes['Holiday'] == 'Holiday') & (bikes['Temperature'] > 15))] #not

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [16]:
bikes[bikes['Temperature'].isna()] #возвращает строки с пропусками в колонке температура

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
39,02/12/2017,15,NaN,41,2.3,0.0,0.0,Winter,No Holiday,Yes,490,198
50,03/12/2017,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,208,54
64,03/12/2017,16,NaN,77,1.6,0.0,0.0,Winter,No Holiday,Yes,49,528
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
151,07/12/2017,7,NaN,93,0.5,0.0,0.9,Winter,No Holiday,Yes,140,129
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [21]:
bikes[bikes['Temperature'].isna()].shape

(179, 12)

In [25]:
bikes[bikes['Seasons'].isin(['Winter', 'Autumn'])].shape

(4344, 12)

In [17]:
bikes[bikes['Temperature'].isin(range(10,20))].head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
2223,03/03/2018,15,16.0,14,2.2,0.0,0.0,Spring,No Holiday,Yes,965,1236
2225,03/03/2018,17,15.0,22,2.5,0.0,0.0,Spring,No Holiday,Yes,795,925
2270,05/03/2018,14,10.0,44,1.9,0.0,0.0,Spring,No Holiday,Yes,269,77
2272,05/03/2018,16,11.0,39,1.2,0.0,0.0,Spring,No Holiday,Yes,660,185
2273,05/03/2018,17,10.0,43,1.4,0.0,0.0,Spring,No Holiday,Yes,625,755

In [23]:
bikes[bikes['Temperature'].isin(range(10,20))].shape

(222, 12)

In [18]:
bikes['Temperature'].sort_values(ascending=False)

5848    39.4
5847    39.3
5849    39.0
5846    38.7
5825    38.0
        ...
8669     NaN
8679     NaN
8710     NaN
8717     NaN
8742     NaN
Name: Temperature, Length: 8760, dtype: float64

In [27]:
bikes['Temperature'].sort_values(ascending=False)

5848    39.4
5847    39.3
5849    39.0
5846    38.7
5825    38.0
        ...
8669     NaN
8679     NaN
8710     NaN
8717     NaN
8742     NaN
Name: Temperature, Length: 8760, dtype: float64

In [19]:
bikes_sorted = bikes.sort_values(by=['Temperature'])
bikes_sorted

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [20]:
bikes_sorted.loc[1352:1349]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21

In [21]:
bikes_sorted.iloc[:5]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21

In [23]:
bikes.sort_values(by=['Temperature', 'Humidity'], ascending=[True, False])

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
1238,21/01/2018,14,NaN,18,1.2,0.0,0.0,Winter,No Holiday,Yes,119,100
1910,18/02/2018,14,NaN,17,1.8,0.0,0.0,Winter,No Holiday,Yes,7,162
1886,17/02/2018,14,NaN,15,4.0,0.0,0.0,Winter,Holiday,Yes,0,58
3400,21/04/2018,16,NaN,13,3.3,0.0,0.0,Spring,No Holiday,Yes,1649,560
4276,28/05/2018,4,NaN,0,0.4,0.0,0.0,Spring,No Holiday,Yes,51,58

In [30]:
bikes.sort_values(by=['Temperature', 'Humidity'], ascending=[True, False])

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
1238,21/01/2018,14,NaN,18,1.2,0.0,0.0,Winter,No Holiday,Yes,119,100
1910,18/02/2018,14,NaN,17,1.8,0.0,0.0,Winter,No Holiday,Yes,7,162
1886,17/02/2018,14,NaN,15,4.0,0.0,0.0,Winter,Holiday,Yes,0,58
3400,21/04/2018,16,NaN,13,3.3,0.0,0.0,Spring,No Holiday,Yes,1649,560
4276,28/05/2018,4,NaN,0,0.4,0.0,0.0,Spring,No Holiday,Yes,51,58

In [ ]:
bikes.sort_values(by=['Humidity'])